.streams-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:480px) {
    .section-header h4{
        font-size: 28px;
        text-align: center;
        margin: 20px 0;
    }
}