.section-wrapper{
    position: relative;
}
.most-popular-btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
@media (max-width: 480px) {
    .primary{
        font-size: 12px;
    }
}