.start-live-stream{
    padding: var(--padding-primary);
    margin: var(--margin-primary);
    text-align: center;
}
.start-live-stream-content{
    display: flex;
    gap: 20px;
    margin-top:50px;
    margin-bottom:50px;
}
@media (max-width:991px) {
    .start-live-stream-content{
        flex-direction: column;
    }
    .start-live-stream-item{
        flex-basis: 100%;
    }
    .start-live-stream{
        padding: 0;
        margin: 0;
    }
}