.section-wrapper{
    background-color: var(--color-darkest);
    padding: var(--padding-primary);
    margin-top: var(--margin-primary);
    border-radius: var(--border-radius-primary);
}
@media (max-width:767px) {
    .section-wrapper{
        padding:10px;
        margin: 0;
        margin-top: 20px;
    }
}
