:root{
    --color-dark:#27292a;
    --color-darkest:#1f2122;
    --color-light:#fff;
    --color-primary:#e75e8d;
    --color-span:grey;

    --color-bg-body:var(--color-darkest);

    --distance-primary:50px;
    --padding-primary:var(--distance-primary);
    --margin-primary:var(--distance-primary);
    --border-radius-primary:25px;

    --font-family-primary:'Poppins', sans-serif;
    --font-weight-bold:700;
    --font-weight-normal:300;


    @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;700&family=Poppins:wght@300;700&display=swap');
}
body{
    background-color:var(--color-bg-body) ;
    font-family:'Poppins', sans-serif;
}
ul{
    list-style-type:none;
}
a{
    text-decoration: none;
}